@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>IoTHUB</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition" style="animation-duration: 900ms; opacity: 1;">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/images/lg1.jpeg" alt="IoTHUB" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Employee
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Add Employee</a>
                            <a class="dropdown-item" href="#">View Employee</a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </div>
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Employee
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list" style="display: none;">
                                <li>
                                    <a href="~/Account/AddEmployee">Add Employees</a>
                                </li>
                                <li>
                                    <a href="~/Account/ViewClient"> View Employess</a>
                                </li>
                                <li>
                                    <a href="~/">Employess Attendance</a>
                                </li>

                            </ul>
                        </li>
                        @*<li>
                                <a href="~/Requestservice/Index">
                                    <i class="fas fa-chart-bar"></i>Request Services
                                </a>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="~/Deviceperm/Create">
                                    <i class="fas fa-tachometer-alt"></i>Device
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">*@

                        @*</ul>
                            </li>*@
                        <li>
                            <a href="~/Requestservice/Create">Request New Service</a>
                        </li>
                        <li>
                            <a href="~/Deviceperm/Index">Add Device Permision</a>
                        </li>
                        @*<li>
                            <a href="~/Registereddevices/Index">View Registered Device</a>
                        </li>*@
                        <li>
                            <a href="~/Emp/Index">
                                <i class="far fa-check-square"></i>Device Control
                            </a>
                        </li>
                        <li>
                            <a href="~/HelpSupport/Create">
                                <i class="far fa-check-copy"></i>Help&Support
                            </a>
                        </li>
                        <li>
                            <a href="~/Feedback/Create">
                                <i class="far fa-check-circle"></i>Feedback
                            </a>
                        </li>



                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/images/lg1.jpeg" width=80 height=60 alt="IotHUB" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user-circle"></i>Employee
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="~/Account/AddEmployee">Add Employees</a>
                                </li>
                                <li>
                                    <a href="~/Account/ViewClient"> View Employess</a>
                                </li>
                                <li>
                                    <a href="~/">Employess Attendance</a>
                                </li>

                            </ul>
                        </li>
                        @*<li>
                                <a href="~/Requestservice/Index">
                                    <i class="fas fa-chart-bar"></i>Request Services
                                </a>
                            </li>*@
                        @*<li class="has-sub">
                                <a class="js-arrow" href="~/Deviceperm/Create">
                                    <i class="fas fa-tachometer-alt"></i>Device
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="~/Requestservice/Index">Request New Device</a>
                                    </li>
                                    <li>
                                        <a href="~/Deviceperm/Index">Add Device Permision</a>
                                    </li>
                                    <li>
                                        <a href="~/Registereddevices/Index">View Registered Device</a>
                                    </li>
                                </ul>
                            </li>*@
                        <li>
                            <a href="~/Requestservice/Create">
                                <i class="far fa-registered"></i>Request New Service</a>
                        </li>
                        <li>
                            <a href="~/Deviceperm/Index">
                                <i class="far fa-desktop"></i>Add Device Permision</a>
                        </li>
                        @*<li>
                            <a href="~/Registereddevices/Index">
                                <i class="far fa-users"></i>View Registered Device</a>
                        </li>*@

                        <li>
                            <a href="~/Emp/Index">
                                <i class="far fa-desktop"></i>Device Control
                            </a>
                        </li>
                        <li>
                            <a href="~/HelpSupport/Create">
                                <i class="far fa-support"></i>Help&Support
                            </a>
                        </li>
                        <li>
                            <a href="~/Feedback/Create">
                                <i class="far fa-vcard-o"></i>Feedback
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">


                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="~/Images/@Context.Session.GetString("Mediapath")" alt="" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@Context.Session.GetString("Username")</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Images/@Context.Session.GetString("Mediapath")" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">@Context.Session.GetString("Username")</a>
                                                    <a href=""></a>
                                                </h5>

                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="~/Account/Viewadmin">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="~/Account/Changepass">
                                                        <i class="zmdi zmdi-account"></i>Change Password
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->
        </div>

        <!-- END PAGE CONTAINER-->
        <!-- MAIN CONTENT-->
        <div class="main-content">

            <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-4">
                @RenderBody()
                <hr />

            </main>

            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - IoTHUB</p>
        </footer>

    </div>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>
</body>
</html>
