@model IoTHUB_v1._0.Models.DevicecategoryTbl

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Masteradmin.cshtml";
}

<h1>Edit</h1>

<h4>DevicecategoryTbl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DevicecatId" />
            <div class="form-group">
                <label asp-for="Devicecatname" class="control-label"></label>
                <input asp-for="Devicecatname" class="form-control" />
                <span asp-validation-for="Devicecatname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createddate" class="control-label"></label>
                <input asp-for="Createddate" class="form-control" />
                <span asp-validation-for="Createddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

