@model IoTHUB_v1._0.Models.RegistereddevicesTbl

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegdevId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceId" class="control-label"></label>
                <select asp-for="DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createddate" class="control-label"></label>
                <input asp-for="Createddate" class="form-control" />
                <span asp-validation-for="Createddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updateddate" class="control-label"></label>
                <input asp-for="Updateddate" class="form-control" />
                <span asp-validation-for="Updateddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

